
fastapi==0.128.0
keras==2.10.0
mediapipe==0.10.31
numpy==1.26.4
opencv-contrib-python==4.12.0.88
opencv-python==4.12.0.88
pandas==2.3.3
protobuf==3.19.6
python-dotenv==1.2.1
scikit-learn==1.7.2
tensorflow==2.10.1
urllib3==2.6.2
uvicorn==0.40.0
websockets==15.0.1
Werkzeug==3.1.4
